@page "/genre/create"

<h3>CreateGenre</h3>

<GenreForm Genre="_genre" OnValidSubit="Create" />


@code {
    private Genre _genre = new();

    private void Create()
    {
#if DEBUG
    Console.WriteLine("Createing");
    Console.WriteLine(_genre.Name);
#endif
    }
}
