@page "/genre/create"

<h3>CreateGenre</h3>

<EditForm Model="_genre" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label>Name: </label>
        <div>
            <InputText class="form-control" @bind-Value="@_genre.Name" autocomplete="nope" />
            <ValidationMessage For="() => _genre.Name" />
        </div>
    </div>
    <div>
        <br />
        <button class="btn btn-success" type="submit">Save Changes</button>
    </div>
</EditForm>


@code {
    private Genre _genre = new();

    private void Create()
    {
#if DEBUG
    Console.WriteLine(_genre.Name);
#endif
    }
}
