@page "/"

@inject IRepository repo

<PageTitle>Index</PageTitle>

<div>
    <h1>Movie</h1>
    <MoviesList Movies="_movies"/>
</div>


@code {
    private List<Movie> _movies = new List<Movie>();

    protected override async Task OnInitializedAsync() 
    {
        await Task.Delay(1000);
        _movies = repo.GetMovies();
    }
   
}