@inject IJSRuntime js

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie Movie="movie" DeleteMovie="DeleteMovie" />
        </ElementTemplate>
    </GenericList>
</div>


@code {

    [Parameter] public List<Movie> Movies { get; set; } = new List<Movie>();


    private async Task DeleteMovie(Movie movie)
    {
        await js.MyFunction($"Próba usunięcia {movie.Title} ");
        var confirmed = await js.Confirm($"Czy jesteś pewien że chcesz usunąć {movie.Title}");
        if (confirmed)
            Movies.Remove(movie);
    }
}
