@page "/person/create"

<h3>CreatePerson</h3>

<PersonForm Person="person" OnValidSubit="Create"/>

@code {
    Person person = new() ;

    private void Create()
    {
        Console.WriteLine("creating person....");
    }
}
